[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#flask = "*"
flask==2.2.2
alembic = "*"
pytest = "*"
gunicorn==20.1.0

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"


